 body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero{
    background: linear-gradient(135deg, #2c3e50, #4ca1af); /* gradient attractive */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* size ya hero section */
    padding: 20px;
}

.hero-box{
    background: rgba(255, 255, 255, 0.9); /* semi-transparent white box */
    padding: 30px 40px;
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2); /* shadow for depth */
}

.hero-box h1{
    color: #2c3e50;
    margin-bottom: 15px;
}

.hero-box p{
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-box button{
    background: #ff6600;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-box button:hover{
    background: #e65c00;
    transform: scale(1.05);
}

.hero button{
    background: orange;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
}
h1{
    color: #2c3e50;
}

p{
    color: #555;
    font-size: 18px;
}
@media (max-width: 600px){
    h1{
        font-size: 22px;
    }

    p{
        font-size: 16px;
    }
}

.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
}

.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
}

.contact-box{
    background: rgba(255,255,255,0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    text-align: center;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-box input, .contact-box select, .contact-box button{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.contact-box button{
    background: #ff6600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-box button:hover{
    transform: scale(1.05);
}

